<mat-tab-group preserveContent dynamicHeight>
   <mat-tab label="Grid Configuration">
         <app-first-tab-content (filtersChanged)="onFiltersChanged($event)"
                                [categories]="categories"
                                [provinces]="provinces"
                                [selectedCategories]="selectedCategories"
                                [selectedProvinces]="selectedProvinces"
                                [selectedCylinderHead]="selectedCylinderHead"
                                [selectedEngineBlock]="selectedEngineBlock"
                                [selectedCoolingSystem]="selectedCoolingSystem"/>
   </mat-tab>
   <mat-tab label="Network">
         Variables goes here!
   </mat-tab>
</mat-tab-group>