@use "@angular/material" as mat;

$dark-primary-text: rgba(black, 0.87);
$dark-secondary-text: rgba(black, 0.54);
$dark-disabled-text: rgba(black, 0.38);
$dark-dividers: rgba(black, 0.12);
$dark-focused: rgba(black, 0.12);
$light-primary-text: white;
$light-secondary-text: rgba(white, 0.7);
$light-disabled-text: rgba(white, 0.5);
$light-borders: rgba(white, 0.24);
$light-dividers: rgba(white, 0.12);
$light-focused: rgba(white, 0.12);

$primary-palette: (
        50 : #fde8ef,
        100 : #f9c6d7,
        200 : #f6a0bd,
        300 : #f279a2,
        400 : #ef5d8e,
        500 : #ec407a,
        600 : #ea3a72,
        700 : #e73267,
        800 : #e42a5d,
        900 : #df1c4a,
        A100 : #ffffff,
        A200 : #ffe0e7,
        A400 : #ffadbe,
        A700 : #ff94aa,
        contrast: (
                50: $dark-primary-text,
                100: $dark-primary-text,
                200: $dark-primary-text,
                300: $dark-primary-text,
                400: $dark-primary-text,
                500: $light-primary-text,
                600: $light-primary-text,
                700: $light-primary-text,
                800: $light-primary-text,
                900: $light-primary-text,
                A100: $dark-primary-text,
                A200: $dark-primary-text,
                A400: $dark-primary-text,
                A700: $dark-primary-text,
        ),
);

$secondary-palette: (
        50: #e7eee9,
        100: #c2d4c9,
        200: #99b8a5,
        300: #709c80,
        400: #528665,
        500: #33714a,
        600: #2e6943,
        700: #275e3a,
        800: #205432,
        900: #144222,
        A100: #80ffa3,
        A200: #4dff7e,
        A400: #1aff59,
        A700: #00ff46,
        contrast: (
                50: $dark-primary-text,
                100: $dark-primary-text,
                200: $dark-primary-text,
                300: $dark-primary-text,
                400: $light-primary-text,
                500: $light-primary-text,
                600: $light-primary-text,
                700: $light-primary-text,
                800: $light-primary-text,
                900: $light-primary-text,
                A100: $dark-primary-text,
                A200: $dark-primary-text,
                A400: $dark-primary-text,
                A700: $dark-primary-text,
        ),
);

$tertiary-palette: (
        50: #fef7e8,
        100: #fdeac7,
        200: #fcdda1,
        300: #facf7b,
        400: #f9c45f,
        500: #f8ba43,
        600: #f7b33d,
        700: #f6ab34,
        800: #f5a32c,
        900: #f3941e,
        A100: #ffffff,
        A200: #fffaf5,
        A400: #ffe2c2,
        A700: #ffd6a8,
        contrast: (
                50: $dark-primary-text,
                100: $dark-primary-text,
                200: $dark-primary-text,
                300: $dark-primary-text,
                400: $dark-primary-text,
                500: $dark-primary-text,
                600: $dark-primary-text,
                700: $dark-primary-text,
                800: $dark-primary-text,
                900: $dark-primary-text,
                A100: $dark-primary-text,
                A200: $dark-primary-text,
                A300: $dark-primary-text,
                A400: $dark-primary-text,
        ),
);

$red-palette: (
        50: #ffebee,
        100: #ffcdd2,
        200: #ef9a9a,
        300: #e57373,
        400: #ef5350,
        500: #f44336,
        600: #e53935,
        700: #d32f2f,
        800: #c62828,
        900: #b71c1c,
        A100: #ff8a80,
        A200: #ff5252,
        A400: #ff1744,
        A700: #d50000,
        contrast: (
                50: $dark-primary-text,
                100: $dark-primary-text,
                200: $dark-primary-text,
                300: $dark-primary-text,
                400: $dark-primary-text,
                500: $light-primary-text,
                600: $light-primary-text,
                700: $light-primary-text,
                800: $light-primary-text,
                900: $light-primary-text,
                A100: $dark-primary-text,
                A200: $light-primary-text,
                A400: $light-primary-text,
                A700: $light-primary-text,
        ),
);

$gray-palette: (
        50: #fafafa,
        100: #f5f5f5,
        200: #eeeeee,
        300: #e0e0e0,
        400: #bdbdbd,
        500: #9e9e9e,
        600: #757575,
        700: #616161,
        800: #424242,
        900: #212121,
        A100: #ffffff,
        A200: #eeeeee,
        A400: #bdbdbd,
        A700: #616161,
        contrast: (
                50: $dark-primary-text,
                100: $dark-primary-text,
                200: $dark-primary-text,
                300: $dark-primary-text,
                400: $dark-primary-text,
                500: $dark-primary-text,
                600: $light-primary-text,
                700: $light-primary-text,
                800: $light-primary-text,
                900: $light-primary-text,
                A100: $dark-primary-text,
                A200: $dark-primary-text,
                A400: $dark-primary-text,
                A700: $light-primary-text,
        ),
);

$palettes: (
        "primary": (
                "50" : #fde8ef,
                "100" : #f9c6d7,
                "200" : #f6a0bd,
                "300" : #f279a2,
                "400" : #ef5d8e,
                "500" : #ec407a,
                "600" : #ea3a72,
                "700" : #e73267,
                "800" : #e42a5d,
                "900" : #df1c4a,
        ),
        "accent": (
                "50": #e7eee9,
                "100": #c2d4c9,
                "200": #99b8a5,
                "300": #709c80,
                "400": #528665,
                "500": #33714a,
                "600": #2e6943,
                "700": #275e3a,
                "800": #205432,
                "900": #144222,
        ),
        "tertiary": (
                "50": #fef7e8,
                "100": #fdeac7,
                "200": #fcdda1,
                "300": #facf7b,
                "400": #f9c45f,
                "500": #f8ba43,
                "600": #f7b33d,
                "700": #f6ab34,
                "800": #f5a32c,
                "900": #f3941e,
        ),
        "red": (
                "50": #ffebee,
                "100": #ffcdd2,
                "200": #ef9a9a,
                "300": #e57373,
                "400": #ef5350,
                "500": #f44336,
                "600": #e53935,
                "700": #d32f2f,
                "800": #c62828,
                "900": #b71c1c,
        ),
        "gray": (
                "0": #ffffff,
                "50": #fafafa,
                "100": #f5f5f5,
                "200": #eeeeee,
                "300": #e0e0e0,
                "400": #bdbdbd,
                "500": #9e9e9e,
                "600": #757575,
                "700": #616161,
                "800": #424242,
                "900": #212121,
                "000": #000000,
        ),
);
