@use "./colors" as *;

$prefix: "";

$link-opacity: 0.64;
$link-hover-opacity: 0.88;
$link-focus-opacity: 1;
$transition-duration-btn: 0.12s;
$transition-duration-short: 0.16s;
$transition-duration-short: 0.32s;
$transition-duration-long: 0.48s;