
$font-family-primary: "Oswald", "Kalameh",sans-serif;
$font-family-secondary: "Roboto", "Kalameh",sans-serif;
$font-family-tertiary: "Open Sans", "Kalameh",sans-serif;
$font-family-accent: "Raleway", "Kalameh",sans-serif;

$font-family-icon: "Material Symbols Outlined";

