<div class="div-col-start-content">
   <mat-accordion class="w-full" displayMode="flat">
      <mat-expansion-panel>
         <mat-expansion-panel-header collapsedHeight="56px" expandedHeight="64px">
            <mat-panel-title>
               <span class="mat-subtitle-1 nmb txt-gray-900">Categories</span>
            </mat-panel-title>
         </mat-expansion-panel-header>
         <mat-selection-list (selectionChange)="emitFilters()" [formControl]="selectedCategories" [multiple]="true">
            <mat-list-option *ngFor="let category of categories" [value]="category">
               {{ category }}
            </mat-list-option>
         </mat-selection-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
         <mat-expansion-panel-header collapsedHeight="56px" expandedHeight="64px">
            <mat-panel-title>
               <span class="mat-subtitle-1 nmb txt-gray-900">Location</span>
            </mat-panel-title>
         </mat-expansion-panel-header>
         <mat-form-field class="search">
            <mat-label>Search</mat-label>
            <input (input)="applyFilter()" [(ngModel)]="filterValue" matInput placeholder="">
            <app-btn-basic-circle (click)="resetSearchInput()" matSuffix [icon]="true" height="40px">
               <span icon>close</span>
            </app-btn-basic-circle>
         </mat-form-field>
         <mat-error *ngIf="applyFilter().length === 0" class="p-inline-4">😢 موردی یافت نشد!</mat-error>
         <mat-selection-list (selectionChange)="emitFilters()" [formControl]="selectedProvinces" [multiple]="true">
            <mat-list-option *ngFor="let province of applyFilter()" [value]="province.name">
               {{ province.name }}
            </mat-list-option>
         </mat-selection-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
         <mat-expansion-panel-header collapsedHeight="56px" expandedHeight="64px">
            <mat-panel-title>
               <span class="mat-subtitle-1 nmb">{{ commonFilters.cylinderHeads.title }}</span>
            </mat-panel-title>
         </mat-expansion-panel-header>
         <mat-selection-list (selectionChange)="emitFilters()" [(ngModel)]="selectedPriceRange" [multiple]="false">
            <mat-list-option *ngFor="let option of commonFilters.cylinderHeads.items" [value]="option.value">
               {{ option.label }}
            </mat-list-option>
         </mat-selection-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
         <mat-expansion-panel-header collapsedHeight="56px" expandedHeight="64px">
            <mat-panel-title>
               <span class="mat-subtitle-1 nmb txt-gray-900">{{ commonFilters.engineBlocks.title }}</span>
            </mat-panel-title>
         </mat-expansion-panel-header>
         <mat-selection-list (selectionChange)="emitFilters()" [(ngModel)]="selectedRating"
                             [multiple]="false">
            <mat-list-option *ngFor="let option of commonFilters.engineBlocks.items" [value]="option.value">
               {{ option.label }}
            </mat-list-option>
         </mat-selection-list>
      </mat-expansion-panel>
   </mat-accordion>
   <div class="div-row-sb p-4">
      <span class="mat-subtitle-1 nmb txt-gray-900">Has Cooling Systems</span>
      <mat-slide-toggle (change)="emitFilters()" [(ngModel)]="selectedAvailability"/>
   </div>
</div>



